<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        {{template "javascript"}}
    </head>
    <body>
       {{/* Here is our header */}}
       {{template "header_div"}}

       {{/* Here is our main content */}}
       <div class="body_div">
            {{/* Here is our above the fold styling, mostly containing the form */}}
            <div class="above_fold_div">
                {{/* Contact mark form */}}
                {{template "contact_mark_form"}}

                {{template "test_form"}}

                {{/* Helper Email Ajax script */}}
                {{template "helper_email_ajax"}}
            </div>
       </div>

       {{/* Here is our footer */}}
       {{template "footer_div"}}
    </body>
</html>