<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        {{template "javascript"}}
    </head>
    <body>
       
       {{/* Here is our header */}}
       {{template "header_div"}}

       {{/* Here is our main content */}}
       <div class="body_div">
            {{/* Here is our above the fold styling, mostly containing the form */}}
            <div class="above_fold_div">
                {{/* Contact mark form */}}

                {{.}}

                {{template "contact_mark_form"}}

                {{template "test_form"}}

                {{template "helper_email_ajax_TEST"}}

            </div>
       </div>

       {{/* here is our field checker ajax for the above form */}}
       {{template "okay_email_checker"}}
       {{/* Here is our ajax to compile the form into an email when submit button is clicked */}}
       {{template "helper_email_ajax"}}

       {{/* Here is our footer */}}
       {{template "footer_div"}}

    </body>
</html>