<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        {{template "javascript"}}
    </head>
    <body>
       
       {{/* Here is our header */}}
       {{template "header_div"}}

       {{/* Here is our main content */}}
       <div class="body_div">
            {{/* Here is our above the fold styling, mostly containing the form */}}
            <div class="above_fold_div">
                {{/* Title for Contact Form */}}
                <div class="content_title_div">
                    <div class="content_title_text">
                        Contact Me
                    </div>
                </div>
                <div class="rest_of_content_div">
                    <div class="content_div_txt">
                        <p class="content_text">
                            Had a good time? Want to book me for your next event? Reach out to DJ Mark!
                        </p>
                    </div>
                </div>
                {{.}}
                {{/* Contact mark form */}}
                {{template "contact_mark_form"}}

                {{/* here is our field checker ajax for the above form */}}
                {{template "okay_email_checker"}}
                {{/* Here is our ajax to compile the form into an email when submit button is clicked */}}
                {{template "helper_email_ajax"}}

            </div>
       </div>

       {{/* Here is our footer */}}
       {{template "footer_div"}}

    </body>
</html>