<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        {{template "javascript"}}
    </head>
    <body>
        {{/* Here is our header */}}
        {{template "header_div"}}

        {{/* Here is our main content */}}
        <div class="body_div">
            {{/* Photo Gallery Title */}}
            <div class="content_title_div">
                <div class="content_title_text">
                    Gallery
                </div>
            </div>
            <div class="rest_of_content_div">
                <div class="content_div_txt">
                    <p class="content_text">
                        The fun times keep on rolling! Behind the booth or on the dance floor,
                        I guarantee fun for the whole family!
                    </p>
                </div>
            </div>
            <div class="gallery_div">
                <a href="static/images/jpg/mark_booth_front.jpg"
                class="gallery_img_clicked" data-lightbox="mygallery" data-title="Mark Polling">
                    <img src="static/images/jpg/mark_booth_front.jpg" class="gallery_img">
                </a>
                <a href="static/images/jpg/mark_booth_side1.jpg" 
                class="gallery_img_clicked" data-lightbox="mygallery" data-title="Mark DJ Booth">
                    <img src="static/images/jpg/mark_booth_side1.jpg" class="gallery_img">
                </a>
                <a href="static/images/jpg/mark-dance-w-liz.jpg"
                class="gallery_img_clicked" data-lightbox="mygallery" data-title="Mark DJ Booth Side">
                    <img src="static/images/jpg/mark-dance-w-liz.jpg" class="gallery_img">
                </a>
                <a href="static/images/jpg/mark-laughter-coverphoto.jpg"
                class="gallery_img_clicked" data-lightbox="mygallery" data-title="Mark Polling">
                    <img src="static/images/jpg/mark-laughter-coverphoto.jpg" class="gallery_img">
                </a>
                <a href="static/images/jpg/mark-mac-sideface.jpg" 
                class="gallery_img_clicked" data-lightbox="mygallery" data-title="Mark DJ Booth">
                    <img src="static/images/jpg/mark-mac-sideface.jpg" class="gallery_img">
                </a>
                <a href="static/images/jpg/mark-polls.jpg"
                class="gallery_img_clicked" data-lightbox="mygallery" data-title="Mark DJ Booth Side">
                    <img src="static/images/jpg/mark-polls.jpg" class="gallery_img">
                </a>
                <a href="static/images/jpg/mark-thumbs-up.jpg"
                class="gallery_img_clicked" data-lightbox="mygallery" data-title="Mark DJ Booth Side">
                    <img src="static/images/jpg/mark-thumbs-up.jpg" class="gallery_img">
                </a>
            </div>
        </div>
        
        {{/* Here is our footer */}}
        {{template "footer_div"}}
    </body>
</html>