<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
    </head>
    <body>
        {{/* Here is our header */}}
        {{template "header_div"}}

        {{/* Here is our main content */}}
        <div class="body_div">
            {{/* Here is our above the fold content */}}
            <div class="above_fold_div">
                <div class="mark_showcase_div">
                    <div class="markshowcase_text_div">
                        <div class="mark_showcase_text">
                            DJ Mark
                        </div>
                    </div>
                </div>
            </div>
            {{/* Here is the rest of the stuff under the container */}}
            <div class="rest_of_content_div">
                <div class="content_div_txt">
                    <p class="content_text">I provide experience in wedding and event planning and entertainment.
                    I bring an exuberant and infectious positive attitude to your event! I love to have fun and serve others!
                    My affordable prices makes sure you have a great time without dipping into your savings!
                    Please reach out and check out my Facebook: <i class="content_text">@strictlydj2019!</i></p>
                </div>
                {{/* Debug for JS functionality */}}
                <div class="content_div_txt">

                </div>
                <div class="content_div_video">
                    <div id="fb-root">
                    <h1>My Video Player</h1>
                    </div>
                    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
                    <div class="fb-video"
                        data-href="https://www.facebook.com/strictlydj2019/videos/904940399849167/"
                        data-width="300"
                        data-height="200"
                        data-allowfullscreen="true">
                    </div>
                </div>
            </div>
        </div>
        
        {{/* Here is our footer */}}
        {{template "footer_div"}}
    </body>
</html>