<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
    </head>
    <body>
        {{/* Here is our header */}}
        {{template "header_div"}}

        {{/* Here is our main content */}}
        <div class="body_div">
            <div class="gallery_div">
                <a href="static/img/jpg/mark-polls.jpg">
                    <img src="static/img/jpg/mark-polls.jpg" class="gallery_img">
                </a>
                <a href="static/img/jpg/mark_booth_front.jpg">
                    <img src="static/img/jpg/mark_booth_front.jpg" class="gallery_img">
                </a>
                <a href="static/img/jpg/mark_booth_side3.jpg">
                    <img src="static/img/jpg/mark_booth_side3.jpg" class="gallery_img">
                </a>
            </div>
        </div>
        
        {{/* Here is our footer */}}
        {{template "footer_div"}}
    </body>
</html>