<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
    </head>
    <body>
        {{/* Here is our header */}}
        {{template "header_div"}}

        {{/* Here is our main content */}}
        <div class="above_fold_div">
            HEY UHHHH, PIZZA, PASTA, SPAGHETTI, UHHHHHHH
        </div>

        {{/* Here is our footer */}}
        {{template "footer_div"}}
    </body>
</html>