

/* ------------------------------------------------- */
/*     Document Design under 600px.... */


/* BEGINNING OF HEADER AREA */

.header_div {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    width: 100%;
    /* styling */
    background-color: rgb(238, 180, 104);
    border: 1px solid black;
    /* debug styling */
}

.drop-down-link-divs {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    width: 100%;
    /* styling */
    background-color: rgb(155, 104, 238);
    border: 1px solid black;
    /* debug styling */
    
}

.nothing_box {
    width: 45%;
    /* styling */
    background-color: rgba(136, 93, 206, 0.795);
    /* debug styling */
    
}

.link_box {
    /* Flexbox styling */
    width: 20%;
    /* styling */
    background-color: rgb(238, 180, 104);
    border: 1px solid black;
    /* debug styling */
}

.about_box {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 15%;
    /* styling */
    background-color: rgb(238, 180, 104);
    border: 2px solid black;
    /* debug styling */
}

.contact_me_box {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 15%;
    /* styling */
    background-color: rgb(238, 180, 104);
    border: 1px solid black;
    /* debug styling */
    
}

/* Dropdown work */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropbtn {
    /* background-color: #94a095; */
    font-family: 'Bebas Neue', cursive, sans-serif;
    width: 100%;
    /* color: white; */
    /* styling */
    background-color: rgb(238, 180, 104);
    border: 1px solid black;
    font-size: 1rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgb(54, 50, 50);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(168, 90, 168);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /* background-color: #94a095; */
    font-family: 'Bebas Neue', cursive, sans-serif;
    width: 100%;
    /* color: white; */
    font-size: 1rem;
}

/* Header Links */
.headerLinks {
    font-size: 1rem;
    color: black;
    text-align: center;
}

/* END OF HEADER AREA */

/* THIS BEGINS MOST CONTENTS WITHIN THE BODY */
/* NOTE: ABOVE THE FOLD STYLING IS NOT DONE IN THE ABOVE FOLD DIV, BUT RATHER, THE SHOWCASE DIV
THIS IS ONLY FOR HOLDING THE ABOVE THE FOLD DIVS */
.above_fold_div {
    /* Flex-box styling */
    align-content: center;
    justify-content: center;
    /* DEBUG STYLING */
}

.body_div {
    background-color: rgba(124, 104, 156, 0.795);
}

.mark_showcase_div {
    /* Above the fold styling */
    box-sizing: border-box;
    height: 60vh;
    /* Flex-box styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    /* This is for the background styling */
    background-image: url('../images/png/mark_cover_faded.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.markshowcase_text_div {
    /* Flex-box styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* background styling */
    background-color: rgba(0, 0, 0, 0.507);
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    /* DEBUG STYLING */
    
}

.mark_showcase_text {
    color: rgb(255, 250, 250);
    font-size: 4rem;
    /* alignment */
    align-self: center;
}

.rest_of_content_div{
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    /* stying */

    /* debug styling */
    
}

.content_title_div {
    /* Flexbox Styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    /* styling */
    margin-top: 1em;
    /* Debug Styling */
    border: 1px solid blue;
}

.content_title_text {
    font-family: 'Odibee Sans', sans-serif;
    font-size: 5rem;
    align-self: center;
}

.content_div_txt {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    /* styling */
    margin-top: .5em;
    margin-right: .5em;
    margin-left: .5em;
    /* debug styling */
}

.content_text {
    /* font styling */
    font-size: 1.5rem;
    line-height: 1.5rem;
    /* styling */
    align-self: center;
    justify-content: center;
    text-align: center;
}

.content_div_video {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    /* styling */
    padding: 1rem;
    /* debug styling */
    border: 2px dashed darkblue;
}

/* Submitting form data */
.divform {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: 1rem;
    /* debug styling */
    border: 2px dashed rgb(211, 207, 153);
}
/*
#my-form {
    
}
*/

.fieldSection {
    /*flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.labelDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 45%;
}

.labelPText {
    /* styling */
    font-size: 1rem;
    padding-right: 1rem;
    font-family: 'Odibee Sans', sans-serif;
    color: rgb(207, 157, 157);
}

.inputDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 45%;
}

#inputTextMobileFName{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileLName{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileEmail{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileSubject{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileMessage{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileWebsite{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum1 {
    width: 10%;
    height: auto;
    margin-right: .5rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum2 {
    width: 15%;
    height: auto;
    margin-right: .5rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum3 {
    width: 15%;
    height: auto;
    margin-right: .5rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum4 {
    width: 20%;
    height: auto;
    font-family: 'Nunito', sans-serif;
}

#my-form-button {
    /* debug rulesets */
    color: green;
}

.inputTextMobileMessage {
    width: 45%;
    /* height added for message stuff */
    height: 10vh;
    /* text-align used for message stuff */
    text-align: left;
    vertical-align: text-top;
    border: 2px solid orange;
    display: inline-block;
}

.inputTitleDivMobile{
    /* flexbox content */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    width: 45%;
    border: 2px solid teal;
}

.inputTitlePMobile {
    font-size: 1.5rem;
    margin: 2px;
}

.phoneNumDiv {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    /* Debug colors */
    background-color: orchid;
}

/* Photo Gallery */
.gallery_div {
    /* Flexbox Styling */
    
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: .5em;
}

.gallery_img {
    transition: 1s;
    padding: .2em;
    width: 40vw;
}

.gallery_img_clicked {
    width: 30vw;
}

.gallery_img:hover {
    transform: scale(1.1);
}
/* THIS ENDS MOST OF THE CONTENTS IN THE BODY */

/* BEGINNING OF FOOTER AREA */
.footer_div {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    /* styling */

    /* debug styling */
    border: 3px solid red;
}

/* This is for Mark's name */
.namer_div {
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* styling */
    padding-top: -0.5em;
    padding-bottom: -0.5em;
    margin: 0;
    /* debug styling */
    
}

.namername {
    /* styling */
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 2em;
    padding-top: 0%;
    padding-bottom: 0%;
    line-height: .5rem;
}

/* This is for Mark's contact info */
.contact_slide_div {
    /* Flexbox styling */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0;
    /* debug styling */
    background-color: lawngreen;
}

.contact_box {
    /* Flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 48%;
    height: auto;
    /* styling */

    /* debug styling */
    border: 1px solid black;
}

.image_contact_holder {
    /* flexbox stylings */
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* styling
    
    margin: .5em;
    padding: .5em;
    
    */
    
    /* debug styling */
    border: 1px solid red;
}

.image_contact {
    /* styling */
    width: 6vw;
    height: 6vh;
}

.text_contact_holder {
    /* flexbox stylings */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: auto;
    /* styling 
    
    margin: .5em;
    padding: .5em;
    
    */
    
    /* debug styling */
    border: 1px solid purple;
}

.text_contact {
    /* styling */
    font-size: .8rem;
    text-align: center;
}

/* This is for Mark's contact info */


/* END OF FOOTER AREA */