

/* ------------------------------------------------- */
/*     Document Design under 600px.... */


/* BEGINNING OF HEADER AREA */

.header_div {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    width: 100%;
    /* styling */

    /* debug styling */
    background-color: pink;
    border: 3px solid gold;
}

.drop-down-link-divs {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    /* align-content: flex-end; */
    width: 100%;
    /* styling */

    /* debug styling */
    background-color: gold;
    border: 2px dashed green;
}

.nothing_box {
    width: 45%;
    /* debug styling */
    background-color: hotpink;
    border: 2px solid peru;
}

.link_box {
    /* Flexbox styling */
    width: 20%;
    /* styling */

    /* debug styling */
    background-color: tan;
    border: 2px dashed rgb(120, 6, 131);
}

.about_box {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 15%;
    /* styling */

    /* debug styling */
    border: 2px solid green;
}

.contact_me_box {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 15%;
    /* styling */

    /* debug styling */
    background-color: grey;
    border: 2px solid rgb(163, 221, 163);
}

/* Dropdown work */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropbtn {
    /* background-color: #94a095; */
    font-family: 'Bebas Neue', cursive, sans-serif;
    width: 100%;
    /* color: white; */
    font-size: 1rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgb(54, 50, 50);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(168, 90, 168);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /* background-color: #94a095; */
    font-family: 'Bebas Neue', cursive, sans-serif;
    width: 100%;
    /* color: white; */
    font-size: 1rem;
}

/* Header Links */
.headerLinks {
    font-size: 1rem;
    color: yellow;
}

/* END OF HEADER AREA */

/* THIS BEGINS MOST CONTENTS WITHIN THE BODY */
/* NOTE: ABOVE THE FOLD STYLING IS NOT DONE IN THE ABOVE FOLD DIV, BUT RATHER, THE SHOWCASE DIV
THIS IS ONLY FOR HOLDING THE ABOVE THE FOLD DIVS */
.above_fold_div {
    /* Flex-box styling */
    align-content: center;
    justify-content: center;
    /* DEBUG STYLING */
    border: 3px dashed pink;
}

.mark_showcase_div {
    /* Above the fold styling */
    box-sizing: border-box;
    height: 60vh;
    /* Flex-box styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    /* This is for the background styling */
    background-image: url('../img/png/mark_cover_faded.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.markshowcase_text_div {
    /* Flex-box styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* DEBUG STYLING */
    
}

.mark_showcase_text {
    color: rgba(252, 248, 22, 0.9);
    font-size: 4rem;
}

.rest_of_content_div{
    /* Flexbox styling */


    /* stying */

    /* debug styling */
    border: 1px dashed black;
}

.content_div_txt {
    /* Flexbox styling */

    /* styling */

    /* debug styling */
    border: 1px solid salmon;
    background-color: green;
}

.content_div_video {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    /* styling */
    padding: 1rem;
    /* debug styling */
    border: 2px dashed darkblue;
}

/* Submitting form data */
.divform {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: 1rem;
    /* debug styling */
    border: 2px dashed rgb(211, 207, 153);
}
/*
#my-form {
    
}
*/

.fieldSection {
    /*flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.labelDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 45%;
}

.labelPText {
    /* styling */
    font-size: 1rem;
    padding-right: 1rem;
    font-family: 'Odibee Sans', sans-serif;
    color: rgb(207, 157, 157);
}

.inputDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 45%;
}

#inputTextMobileFName{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileLName{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileEmail{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileSubject{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileMessage{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTextMobileWebsite{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum1 {
    width: 10%;
    height: auto;
    margin-right: .5rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum2 {
    width: 15%;
    height: auto;
    margin-right: .5rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum3 {
    width: 15%;
    height: auto;
    margin-right: .5rem;
    font-family: 'Nunito', sans-serif;
}

#inputTitlePhoneNum4 {
    width: 20%;
    height: auto;
    font-family: 'Nunito', sans-serif;
}

#my-form-button {
    /* debug rulesets */
    color: green;
}

.inputTextMobileMessage {
    width: 45%;
    /* height added for message stuff */
    height: 10vh;
    /* text-align used for message stuff */
    text-align: left;
    vertical-align: text-top;
    border: 2px solid orange;
    display: inline-block;
}

.inputTitleDivMobile{
    /* flexbox content */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    width: 45%;
    border: 2px solid teal;
}

.inputTitlePMobile {
    font-size: 1.5rem;
    margin: 2px;
}

.phoneNumDiv {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    /* Debug colors */
    background-color: orchid;
}
/* THIS ENDS MOST OF THE CONTENTS IN THE BODY */

/* BEGINNING OF FOOTER AREA */
.footer_div {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    /* styling */

    /* debug styling */
    border: 3px solid red;
}

/* This is for Mark's name */
.namer_div {
    /* flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    
    /* debug styling */
    background-color: indianred;
}

.namername {
    /* styling */
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 3em;
}

/* This is for Mark's contact info */
.contact_slide_div {
    /* Flexbox styling */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* debug styling */
    background-color: lawngreen;
}

.contact_box {
    /* Flexbox styling */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 50%;
    /* debug styling */
    background-color: lightseagreen;
}

.image_contact_holder {
    /* flexbox stylings */
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    /* styling */
    margin: .5em;
    padding: .5em;
    /* debug styling */
    border: 2px solid black;
}

.image_contact {
    /* styling */
    width: 8vw;
    height: 8vh;
}

.text_contact_holder {
    /* flexbox stylings */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 45%;
    /* styling */
    margin: .5em;
    padding: .5em;
    /* debug styling */
    border: 2px solid black;
}

.text_contact {
    /* styling */
    font-size: .5rem;
}

/* This is for Mark's contact info */


/* END OF FOOTER AREA */